################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.exe
*.db
*.json
*.filters
*.ilk
*.obj
*.pdb
*.log
*.tlog
*.txt
*.vcxproj
*.enc
*.ipch
*.sln
*.idb
*.user
*.recipe
*.db-shm
*.opendb
*.db-wal
/strobing
